.aboutus_body{
    font-family: Arial, sans-serif;
    background-color: red;
}

header {
    background: #819b9b;
}

header h1 {
    font-size: 2.5rem;
    margin-top: 20px;
}

header p {
    font-size: 1.2rem;
    color: #ffffff;
}

header .btn {
    margin-top: 20px;
}

.services .service-box {
    background: #f9eeee;
    border: 1px solid #e9ecef;
    border-radius: 8px;
    margin-bottom: 20px;
  
    box-shadow: 0px 5px 5px rgb(121, 121, 121);
    
    border-color: #070707;
}

.services .service-box:hover {
    box-shadow: 10px 15px 5px rgb(100, 100, 100);

}

.services .service-box h3 {
    margin-top: 15px;
    color: #000000;
    
}


.services .service-box i {
    color: #1201f8;
    margin-bottom: 10px;
}

.about-us {
    background: #bfdcf9;
}

.about-us p {
    max-width: 700px;
    margin: 0 auto 20px auto;
}

.testimonial .testimonial-box {
    background: #fff;
    border: 1px solid #e9ecef;
    border-radius: 8px;
    padding: 30px;
    margin-bottom: 20px;
}

.testimonial .testimonial-box img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-bottom: 20px;
}

footer {
    background: #000000;
    color: #fff;
}

footer p {
    margin: 0;
}

footer .list-inline {
    margin: 10px 0;
}

footer .list-inline-item a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}
