
.body {
    font-family: 'Arial', sans-serif;   
}

.carrer_hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 50px;
    background: linear-gradient(45deg, #1f2241, #2c2f55);
    margin-top: 140px;
}

.carrer_hero-text {
    max-width: 600px;
}
.carrer_hero-image {
    background-image: url("/assets/img/about\ us-Photoroom.png");
    background-color: #832f2f;
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }

.carrer_hero-text h1 {
    font-size: 56px;
    margin: 0;
}

.carrer_hero-text h1 span {
    color: #33a2ff;
}

.carrer_hero-text p {
    font-size: 18px;
    line-height: 1.5;
    margin: 20px 0;
}

.carrer_hero-buttons {
    display: flex;
    gap: 15px;
}

.btn-primary,
.btn-secondary {
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.btn-primary {
    background-color: #5865f2;
    color: #fff;
}

.btn-primary:hover {
    background-color: #4755c1;
}

.btn-secondary {
    background-color: transparent;
    color: #33a2ff;
    border: 2px solid #33a2ff;
}

.btn-secondary:hover {
    background-color: #33a2ff;
    color: #fff;
}

.carrer_hero-image img {
    width: 400px;
    border-radius: 10px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
    padding: 20px;
    
}

.open-roles {
    padding: 50px;
    background-color: #1f2241;
}

.open-roles h2 {
    font-size: 36px;
    text-align: center;
    margin-bottom: 30px;
}

.open-roles h2 span {
    color: #33a2ff;
}

.roles-list {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.role-card {
    background-color: #2c2f55;
    padding: 20px 40px;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: transform 0.3s, box-shadow 0.3s;
}

.role-card:hover {
    transform: translateY(-5px);
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3);
}

.Recruitment-process {
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
    padding-top: 30px;
    text-align: center;
    background-color: #2c2f55;
}

.Recruitment-process h2 {
    text-align: center;
    font-size: 36px;
}

.steps {
    display: flex;
    justify-content: space-between;
    gap: 15px;
   align-items: flex-start;
    margin-top: 30px;
}

.step {
    background-color: #1f2241;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    width: 18%;
    transition: transform 0.3s, box-shadow 0.3s;
}
.step:hover{
    background-color:#b5430b ;
    
    transform: translateY(-5px);
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3);
}

.step h3 {
    margin-top: 0;
    color: #33a2ff;
}

.perks-benefits {
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
    padding-top: 20px;
    background-color: #1f2241;
}

.perks-benefits h2 {
    text-align: center;
    font-size: 36px;
    margin-bottom: 30px;
}

.benefits-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.benefit {
    background-color: #2c2f55;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
    /* box box-shadow: ; */
}
.benefit:hover{
    background-color:#b5430b ;
    
    transform: translateY(-5px);
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3);
}

.benefit h3 {
    color: #33a2ff;
}

footer {
    background-color: #0e1023;
    padding: 30px 50px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    color: #ccc;
}

footer a {
    color: #33a2ff;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

.contact, .faq, .social-media {
    width: 30%;
}

.faq-item {
    margin-bottom: 15px;
}

.social-media a {
    display: block;
    margin-bottom: 10px;
}

/* div#arrow {
    position: relative;
    font-family: "Arial";
    background-color: #123456;
    color: white;
    font-size: 2em;
    padding: 10px 15px 10px 15px;
    display: inline-block;
  }
  
  div#arrow svg {
    position: absolute;
    top: 0px;
    right: -30px;
  } */

.jobopening {
    padding: 50px;
    background-color: #1f2241;
}
.job-card {
    display: flex;
    border: 1px solid #ccc;
    padding: 20px;
    max-width: 800px;
    margin: 20px auto;
    border-radius: 10px;
    background-color: #2c2f55;
    transition: transform 0.3s, box-shadow 0.3s;
}
.job-card:hover{
    background-color:#2c2f55 ;
    
    transform: translateY(-5px);
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3);
}

.job-info {
    flex: 1;
    transition: transform 0.3s, box-shadow 0.3s;
}

.job-info h2 {
    font-size: 24px;
    margin: 0 0 10px 0;
    color: #06daf2;
}

.job-info p {
    font-size: 18px;
    color: #faf9f9;
    margin: 5px 0;
}

.job-info i {
    width: 16px;
    vertical-align: middle;
    margin-right: 6px;
}

.job-description {
    font-size: 16px;
    color: #333;
    margin: 10px 0;
}

.job-buttons {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 20px;
}

.job-buttons a {
    display: block;
    text-align: center;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    margin-bottom: 10px;
    color: #fff;
    transition: background-color 0.3s;
}

.job-buttons .apply-button {
    background-color: #28a745;
}

.job-buttons .apply-button:hover {
    background-color: #01fa27;
}

.job-buttons .know-more-button {
    background-color: #007bff;
}

.job-buttons .know-more-button:hover {
    background-color: #0056b3;
}

/* news section */

.news-section {
    width: 30%;
    height: 300px;
    overflow: hidden;
    position: relative;
    background-color: #272a4e;
    /* border: 1px solid #ddd; */
    padding-top: 10px;
    /* margin-left: 100px; */
    box-sizing:content-box;
    border-radius: 15px;
    
}

.news-items {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    width: 99%;
    animation: scrollNews 10s linear infinite;
    /* margin-right: 80px; */
}
.news-section:hover .news-items {
    animation-play-state: paused;
}

@keyframes scrollNews {
    0% {
        top: 80%;
    }
    100% {
        top: -100%;
    }
}

.news-item {
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 15px;
    background-color: rgb(23, 140, 140);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.more-news {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 10px;
}

.more-news img {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.more-news a {
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
}

.more-news a:hover {
    text-decoration: underline;
}
.news{
background: #f7f4f4;
padding: 20px;
margin-top: 20px;
}

/* news section ends */
/* .news-section {
    width: 100%;
    height: 220px;
    overflow: hidden;
    position: relative;
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    padding: 10px;
    box-sizing: border-box;
}

.news-items {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    width: 100%;
    animation: scrollNews 12s linear infinite;
}

/* Stop scrolling on hover 
.news-section:hover .news-items {
    animation-play-state: paused;
}

@keyframes scrollNews {
    0% {
        top: 0;
    }
    100% {
        top: -100%;
    }
}

.news-item {
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.more-news {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 10px;
}

.more-news img {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.more-news a {
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
}

.more-news a:hover {
    text-decoration: underline;
} */

